<h1>Embed Code</h1>
<textarea name="embed_code" id="embed_code" class="form-control" cols="30" rows="10">
	<%
		embed_code = ' 
		<script>//create iframe </script>
		<iframe src="#bunch_of_params" frameborder="0"></iframe>
		'
	 %>
<%= embed_code.gsub(/\s+/, "") %>
</textarea>