<h1>Current user: <%= current_user.email %></h1>
<h2>Sign in count: <%=current_user.sign_in_count %></h2>
<h2>Date created: <%= current_user.created_at %></h2>

<h3>Current user object: </h3><%= current_user.inspect %>