<h1>Current user: <%= current_user.email %></h1>
<h2>Sign in count: <%=current_user.sign_in_count %></h2>
<h2>Date created: <%= current_user.created_at %></h2>

<h3>Current user object: </h3><%= current_user.inspect %>

<h1>Todos</h1>
<ol>
	
	<li>Create accounts scaffold</li>
	<li>Add group column to users for super admin: https://github.com/plataformatec/devise/wiki/How-To:-Add-an-Admin-Role</li>
	<li>Build bootstrap dashboard</li>
	<li>Build Super admin dashboard</li>
	<li>create frontend views</li>
	<li>Create embed code</li>
</ol>