// Place all the styles related to the Session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#login-form-wrap {
	// border: 1px solid red;
}
.error-message {
	background-color: rgb(255, 126, 126);
	border: 1px solid rgb(255, 97, 97);
	color: #fff;
	padding: 1em;
	margin-bottom: 1em;
}
.success-message {
	background-color: #5ED167;
	border: 1px solid #618A64;
	color: #fff;
	padding: 1em;
	margin-bottom: 1em;
}